@{
    ViewBag.Title = "Error";
}
<div class="text-center">
    <h1>Error</h1>
    <h2 class="text-red">@ViewBag.ErrorMessage</h2>
    <h2 class="text-red">Status Code: @ViewBag.StatusCode</h2>
    <img src="~/images/error.svg" width="500px" style="margin-top:100px"/>
    </div>